footer {
	background-color: #ffffff;
}

#footerNav {
	margin: auto;
	width: 100%;
}

#footerNav a {
	padding-right: 2%;
}

.footerLink {
	width: 45px;
	padding-top: 3px;
	margin-right: 10px;
	float: left;
}

.footerLink img {
	width: 100%;
}

